In [2]:
import pandas as pd

In [4]:
all_dataframes = pd.read_html('https://sitereport.netcraft.com/?url=https%3A%2F%2Fespana2000.es')

In [5]:
len(all_dataframes)

5

In [6]:
all_dataframes[0]

             0            1
0   Site title          NaN
1    Site rank  Not Present
2  Description          NaN

In [7]:
all_dataframes[1]

                      0                                                  1
0       Date first seen                                           May 2020
1  Netcraft Risk Rating  1/10 .mini-progress-bar {  display:inline-bloc...
2      Primary language                                                NaN

In [8]:
all_dataframes[2]

                         0                            1
0                     Site        https://espana2000.es
1           Netblock Owner            Cloud Builders SA
2          Hosting company                Interdominios
3          Hosting country                           ES
4             IPv4 address  89.248.106.181 (VirusTotal)
5  IPv4 autonomous systems                      AS48348
6             IPv6 address                  Not Present
7  IPv6 autonomous systems                  Not Present
8              Reverse DNS            host.virtualis.es

In [9]:
all_dataframes[3]

                         0                       1
0                   Domain           espana2000.es
1               Nameserver        ns.espana2000.es
2         Domain registrar                 unknown
3  Nameserver organisation                 unknown
4             Organisation                 unknown
5                DNS admin  webmaster@virtualis.es
6         Top Level Domain             Spain (.es)
7  DNS Security Extensions                 unknown
8       Latest Performance       Performance Graph

In [10]:
all_dataframes[4]

,IP range,Country,Name,Description
0,::ffff:0.0.0.0/96,United States,IANA-IPV4-MAPPED-ADDRESS,Internet Assigned Numbers Authority
1,&rdsh; 89.0.0.0-89.255.255.255,Netherlands,89-RIPE,RIPE Network Coordination Centre
2,&rdsh; 89.248.96.0-89.248.111.255,Spain,ES-CLOUDBUILDERS-20060704,Cloud Builders SA
3,&rdsh; 89.248.106.181,Spain,ES-CLOUDBUILDERS-20060704,Cloud Builders SA

In [22]:
pd.read_clipboard()

             Assurance Domain validation
0          Common name     espana2000.es
1         Organisation       Not Present
2                State       Not Present
3              Country       Not Present
4  Organisational unit       Not Present

In [24]:
pd.read_clipboard()

Empty DataFrame
Columns: [Subject, Alternative, Name, espana2000.es,, webmail.espana2000.es,, www.espana2000.es]
Index: []

In [25]:
pd.read_clipboard()

,Validity period,"From May 30 2022 to Aug 28 2022 (2 months, 4 weeks)"
0,Matches hostname,Yes
1,Server,nginx
2,Public key algorithm,rsaEncryption
3,Protocol version,TLSv1.3
4,Public key length,2048
5,Certificate check,ok
6,Signature algorithm,sha256WithRSAEncryption
7,Serial number,0x03e0b005dbcdf643b12456242d7c1a3856a4
8,Cipher,TLS_AES_256_GCM_SHA384
9,Version number,0x02
10,Perfect Forward Secrecy,Yes
11,Supported TLS Extensions,"RFC8446 supported versions, RFC8446 key share,..."
12,Application-Layer Protocol Negotiation,http/1.1
13,Next Protocol Negotiation,Not Present
14,Issuing organisation,Let's Encrypt
15,Issuer common name,R3
16,Issuer unit,Not Present
17,Issuer location,Not Present
18,Issuer country,US
19,Issuer state,Not Present
20,Certificate Revocation Lists,Not Present
21,Certificate Hash,kW7X0z86+cbcYmt8R3Xth2DDn+o
22,Public Key Hash,473d496c68207f82f595da9154fa52eac3a31f003400e6...
23,OCSP servers,http://r3.o.lencr.org - 100% uptime in the pas...
24,Performance Graph,NaN
25,OCSP stapling response,No response received

In [31]:
pd.read_clipboard()

,Source,Log,Timestamp,Signature,Verification
0,Certificate,Google,Argon,2022,NaN
1,KXm+8J45OSHwVnOfY6V35b5XfZxgCvj5TV0mXCVdx4Q=,2022-05-30,12:39:18,Success,NaN
2,Certificate,Sectigo,Mammoth,None,NaN
3,b1N2rDHwMRnYmQCkURX/dxUcEdkCwQApBo2yCJo32RM=,2022-05-30,12:39:18,Success,NaN